node_modules
dist
out
.DS_Store
*.log
temp
.env
.faces
*.pt
output-videos
__pycache__
.chroma_db
.chroma_db_*
.locations.json
.venv
internal
.faces.json
*.gguf
./models/**/*
.pnpm-store/*
.env.*
!.env.system.example
!.env.example
!python/.faces
*.pkl
.turbo
!turbo.json
.data
ml-models
.pytest_cache
tsconfig.tsbuildinfo
.pgdata
playwright-auth-*.json
.chroma
.omc
